DATABASE_URL="postgresql://usuario:contrasena@localhost:5432/devpware_avaluos?schema=public"
APP_URL="https://avaluos.devpware.network"
EMAIL_PROVIDER="development"
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
STORAGE_DRIVER="local"
AWS_S3_BUCKET=""
AWS_S3_REGION=""
AWS_S3_ENDPOINT=""
MAX_UPLOAD_SIZE_MB="10"
SES_FROM_EMAIL=""
SES_FROM_NAME=""
TEST_EMAIL_TO=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_APP_URL="https://avaluos.devpware.network"
GOOGLE_REDIRECT_URI="https://avaluos.devpware.network/api/auth/google/callback"

INITIAL_ADMIN_EMAIL=""
INITIAL_ADMIN_PASSWORD=""
INITIAL_ADMIN_NAME=""
INITIAL_ORGANIZATION_NAME=""
INITIAL_ADMIN_EMAIL_VERIFIED="false"
